@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    
}

body{
    background-color: #fafafa;
}

/* CONTAINER IMG */

#container{
    display: flex;
    margin:40px auto 80px;
    width: 800px;
}

img{
    height: 538px;
}

/* CONTAINER LOGIN */

#login{
    padding: 10px;
    text-align: center;
}

/* LOGIN FORMULÁRIO */

#login #insta{
    height: 40px;
}

#login1{
    width: 350px;
    border: 1px solid #DBDBDB;
    margin-bottom: 10px;
    padding: 10px;
}

#insta{
    margin:30px 60px;
}

input{
    display: block;
    width: 260px;
    margin:0px 40px 16px;
    height: 40px;
    padding: 4px;
    font-size: 12px;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
}

button{
    background-color: #00aaf8c0;
    width: 260px;
    border-radius: 10px;
    display: block;
    margin-left: 40px;
    border: none;
    color: white;
    padding: 6px;
}

#separator{
    border-top: 1px solid #DBDBDB;
    position: relative;
    top: 10px;
    margin: 10px auto 35px;
    width: 260px;
    z-index: 2;
}

#separator p{
    z-index: 1;
    position: absolute;
    background-color: #fafafa;
    top: -10px;
    padding: 4px;
    left: 116px;
    text-transform: uppercase;
    color: rgb(129, 129, 129);
    font-size: 12px;
}

#face{
    height: 18px;
    margin-top: 6px;
}

#login1 label{
    position: relative;
    bottom: 4px;
    color: #2d426e;
    cursor: pointer;
}

#login1 a{
    margin-top: 10px;
   color:#3c5a99;
   display: block;
   font-size: 13px;
   margin-bottom:10px ;
}

#login a:hover{
    color:#2a3e68;
}


/* LOGIN FORMULÁRIO 2 */

#login2{
    border: 1px solid #DBDBDB;
    margin-top:4px ;
    padding: 20px;
}

#login2 a{
    color:#00AAF8 ;
}


/* LOGIN FORMUÁRIO 3 */

#login3{
    margin-top:10px;
    font-size: 14px;
}


#login3 img{
    height: 40px;
    margin-top: 20px;
}

/* FOOTER */

footer{
    margin-top: 60px;
    margin: auto;
    text-align: center;
  
}

footer ul{
    padding: 10px;
    display: flex;
    list-style-type: none;
    margin:0px auto;
    width: 900px;
}

ul li a, footer p{
    color: #535353;
    margin-left: 14px;
    font-size: 12px;
}

ul li a:hover{
    text-decoration: underline;
}


footer p{
    text-align: center;
}


